/ChongAssignment3/dist/
/ChongAssignment11/dist/
/FinalA11/ChongAssignment11/build/
/FinalA11/ChongAssignment11/nbproject/private/
/ChongAssignment16/build/
/ChongAssignment16/dist/
/ChongAssignment17/JavaApplication17/nbproject/private/
/ChongAssignment17/nbproject/private/
/ChongAssignment17/build/
/ChongAssignment17/dist/
/ChongAssignment18/nbproject/private/
/ChongAssignment18/build/
/ChongAssignment19/nbproject/private/
/ChongAssignment19/build/
/QuizTester/nbproject/private/
/QuizTester/build/
/ChongArtificialIntelligenceISU/nbproject/private/
/ChongGPTISU/target/
/ChongAssignment22/build/
/ChongAssignment19/dist/
/ChongAssignment23/build/
/ChongAssignment23/dist/
/ChongAssignment24/build/